<h1>Listing Referrals </h1>

<h2>Use this page to in ADMIN to edit a referral object</h2>


<table>
  <tr>
    <th>Referred User</th>
    <th>Currency referred user</th>
    <th>Agreed referral amount</th>
    <th> || </th>

    <th>Referred by user</th>
    <th>Currency referred by user</th>
    <th>Agreed referred by amount</th>
    <th> || </th>

    <th>Expired</th>
    <th>Qualifying transaction amount</th>
    <th>Qualifying transaction commission</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_referrals.each do |my_referral| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= link_to my_referral.user.name, user_path(my_referral.user) %></td>
    <td><%= my_referral.currency_referred_user %></td>
    <td><%= my_referral.agreed_referral_amount %></td>
    <td></td>
    <td><%= link_to my_referral.user.referred_by_user.name, user_path(my_referral.user.referred_by_user) %></td>
    <td><%= my_referral.currency_referred_by_user %></td>
    <td><%= my_referral.agreed_referred_by_amount %></td>
    <td></td>
    <td><%= my_referral.expired %></td>
    <td><%= my_referral.qualifying_transaction_amount %></td>
    <td><%= my_referral.qualifying_transaction_commission %></td>
    <td><%= link_to 'Show', my_referral %></td>
    <td><%= link_to 'Edit', edit_my_referral_path(my_referral) %></td>
    <td><%= link_to 'Destroy', my_referral, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New My referral', new_my_referral_path %>
